<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.mapper.WecomCdpTagMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.entity.WecomCdpTagMapping">
        <id column="id" property="id" />
        <result column="wecom_corp_id" property="wecomCorpId" />
        <result column="cdp_tag_name" property="cdpTagName" />
        <result column="cdp_tag_value" property="cdpTagValue" />
        <result column="wecom_tag_group_id" property="wecomTagGroupId" />
        <result column="wecom_tag_group_name" property="wecomTagGroupName" />
        <result column="wecom_tag_id" property="wecomTagId" />
        <result column="wecom_tag_name" property="wecomTagName" />
        <result column="sync_time" property="syncTime" />
        <result column="sync_status" property="syncStatus" />
        <result column="sync_error" property="syncError" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>