<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.mapper.WecomMasterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.entity.WecomMaster">
        <id column="wecom_mater_id" property="wecomMaterId" />
        <result column="userId" property="userId" />
        <result column="unionId" property="unionId" />
        <result column="external_userid" property="externalUserid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wecom_mater_id, userId, unionId, external_userid
    </sql>

</mapper>
