<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.mapper.WecomContactRulesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.entity.WecomContactRules">
        <id column="id" property="id" />
        <result column="wecom_corp_id" property="wecomCorpId" />
        <result column="rule_id" property="ruleId" />
        <result column="rule_name" property="ruleName" />
        <result column="range" property="range" />
        <result column="add_time" property="addTime" />
        <result column="admin_list" property="adminList" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>